
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    background-image:url("https://hexschool.github.io/JavaScript_HomeWork/assets/the-urban-landscape-1698285.png");
    background-repeat:no-repeat;
    max-width: 100%; 
    padding: 60px 0;
    background-size: cover;
    margin: 0 auto;
    position:relative;
}

header .title{
    font-size:40px;
    color:#FFFFFF;
    font-family:"PingFangTC-Regular";
    letter-spacing:3.89px;
    line-height:41px;
    text-align: center;
    margin-bottom:96px;
}
.choose{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    
}
.choose select{
     background: rgba(255, 255, 255, 0.7);
     border: 3px solid #FFFFFF;
     border-radius: 3px;
     width:452px;
     font-size: 18px;
     padding:10px 2px;
     margin-bottom: 20px;
}

/*  熱門行政區------------ */
.hotArea{
    background-color: #FFFFFF;
    position:absolute;
    z-index:100;/* 層級在最上面*/
    top:320px;

    padding:18px 146px 18px 51px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;    
    line-height: 21px;
} 
.hotArea button{
    border-radius: 5px;
    font-family: 'PingFangTC-Regular';
    font-size: 20px;
    border-style:none;
    color:#FFFFFF;
    line-height:21px;
    padding:10px 22px;
    margin:0 10px;
}
.hotArea h3{
    font-size:20px;
    padding:10px;
}
.hotArea button:hover{
    border-radius: 20px;
    box-shadow:1px 1px 1px 1px #cccccc;  
    transition-duration:0.6s;/* 變化的速度 */
}

/*  嘗試nth-child(n) 選取器------------ */
.hotArea button:nth-child(2){
    background: #8A82CC;
}
.hotArea button:nth-child(3){
    background-color: #FFA782;
}
.hotArea button:nth-child(4){
    background-color: #F5D005;
}
.hotArea button:nth-child(5){
    background-color:#559AC8;
}
hr{
    border: 1px dashed #559AC8;
    margin:150px 70px 20px 0;
}
.line a{
    color:#559AC8;
    position: absolute;
    padding:5px;
    top: 460px;
    left: 50%;
    border: 2px solid #559AC8;
    border-radius:50%;    /* 弄圓那個外框 */
    filter: invert(52%) sepia(59%) saturate(368%) hue-rotate(161deg) brightness(97%) contrast(95%); /* 用轉換網站https://www.zhangxinxu.com/sp/filter.html轉換出來的色號 */
}

footer{
  background-color:#559AC8;
  width:100%;
  text-align: center;
  padding:24px 0px;
}
footer p{

    color:#FFFFFF;
    line-height:17px;
    font-size:14px;
}
footer span{
    color:#FFD366;
    font-size:14px;
}
footer .link{
    text-decoration:none;
    color:#FFD366;
}

/* JS新增區域 */
.icon{
    width: 18px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.areaName{
    font-size:20px;
    color:#FFFFFF;
    padding:150px 0 0 15px;
    font-weight:700;
}
.list li .pic{
  height:180px;
  width:350px;
  overflow: hidden;
  margin:10px;
}
.info p,.info img{
    display: inline-block;
}
.area{
    display: flex;
    align-items:center;
}
.info p{
    width:300px;
}

.resultName{
    text-align: center;
    font-size:30px;
    padding:20px 0 30px 0;
    font-weight: 700;
    color:rgb(80, 88, 95);
}
.list{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}